@use '../../../assets/styles/variables' as *;

.language-selection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.flags{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

h3{
    color: $secundary-color;
    font-size: 20px;
}

img{
    width: 50px;
    cursor: pointer;
}


// tablet
@media(min-width: 768px){

}

// desktop
@media(min-width: 1024px){
    .language-selection{
        position: fixed;
        right: 30px;
        top: 30px;
    }
}