<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fase 3</title>
</head>
<body>
<div class="container">
  
  <div class="toast-container">
    <div
      *ngFor="let toast of toastService.toasts"
      class="toast"
      [ngClass]="toast.classname"
      (click)="toastService.remove(toast)"
    >
      {{ toast.message }}
    </div>
  </div>  
  
  <!-- Navegação para a fase anterior -->
  <div>
    <a routerLink="/fase-3-8">
      <i class="bi bi-chevron-left"></i>
    </a>
  </div> 
  <!-- Conteúdo principal -->
  <div class="content">
    <h3><strong>FASE 3</strong></h3>

    <!-- Grade da matriz -->
    <div class="matriz">
      <div *ngFor="let row of grid; let rowIndex = index" class="grid-row">
        <div
          *ngFor="let cell of row; let cellIndex = index"
          class="cell"
          [ngClass]="{ 'black': cell, 'white': !cell }"
          (click)="toggleCell(rowIndex, cellIndex)"
        ></div>
        <span class="word">{{ rowWords[rowIndex] }}</span>
      </div>   
    </div>

    <!-- Pergunta -->
    <p>
      Como você representaria a última linha da imagem acima?
    </p>

    <!-- Opções de resposta -->
    <div class="answer-table row justify-content-center w-100">
      <button 
        *ngFor="let answer of answers; let btnIndex = index" 
        [ngClass]="buttonClasses[btnIndex + 1]"
        (click)="changeAnswers(answer, btnIndex + 1)">
        {{ answer }}
      </button>
    </div>
  </div>

  <!-- Navegação para a próxima fase -->
  <div>
    <a routerLink="/fase-3-9">
      <i class="bi bi-chevron-right"></i>
    </a>
  </div>
</div>
</body>
</html>
