body {
  background-color: #A6F3D6;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content {
  display: flex;
  width: 80%;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.imagem-parabens {
  width: 80%;
}

.stars-container {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  gap: 10px; 
}

.imagem-estrela {
  width: 50px; 
  height: 50px; 
}


h3 {
  color: #073d7c;
  margin: 1rem 0 2rem 0;
}

p {
  color: #073d7c;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.rodape {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
}

.botao-rodape {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  transition: transform 0.2s ease-in-out; 
}

.botao-rodape:hover {
  transform: scale(1.1); 
}

.botao-rodape:active {
  transform: scale(0.95); 
}

.icone {
  width: 50px; 
  height: 50px; 
  background-color: #073d7c;
  border-radius: 50%; 
  padding: 20%;
}

.text-botao {
  font-size: 1rem;
  margin-top: 8px;
  color: #073d7c;
}

.mensagem-final{
  margin-top: 8px;
}

/* tablet */

@media (min-width: 768px) {

}

/* desktop */

@media (min-width: 1024px) {

  .imagem-parabens {
    width: 30%;
  }

}
