@use "../../../assets/styles/variables.scss" as *;

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 400px;
  margin-left: 150px;
  margin-right: 150px;
}

h2 {
  color: $secundary-color;
}

p {
  width: 400px;
  text-align: justify;
  color: $secundary-color;
}
