<div
  [ngClass]="{
  screenText: type === 'screenText',
  screenExercice: type === 'screenExercice',
  screenCongratulations: type === 'screenCongratulations',
  screenExample: type === 'screenExample',
  screenMatrizColor: type === 'screenMatrizColor',
  screenSaveColor: type === 'screenSaveColor',
  screenMatriz: type === 'screenMatriz',
  screenSave: type === 'screenSave',
}"
>
  <h2>{{title}}</h2>

  <img src="{{imgUrl}}" alt="" />

  @if (matriz) {
  <app-matriz [pixels]="matriz.pixels" [rows]="matriz.rows"></app-matriz>}
  
  
  @switch (type) { @case ('screenSaveColor') {
  <app-save-matriz-color
    (buttonClicked)="onButtonClicked($event)"
  ></app-save-matriz-color>
  } @case ('screenMatrizColor') {
  <app-matriz-color-activity
    (buttonClicked)="onButtonClicked($event)"
  ></app-matriz-color-activity>
  } @case ('screenExample') {
  <app-pixels-example></app-pixels-example>
  } @case ('screenSave') {
  <app-save-matriz (buttonClicked)="onButtonClicked($event)"></app-save-matriz>
  } @case ('screenMatriz') {
  <app-matriz-activity (buttonClicked)="onButtonClicked($event)"></app-matriz-activity>
  } } 

  <p>{{text}}</p>

  @if(qrCode){
  <app-qr-code-activity [placeHolder]="qrCode"></app-qr-code-activity>
  }

  <app-answer-host
    [answerList]="exercice?.answers"
    [correctAnswer]="exercice?.correctAnswer"
    (buttonClicked)="onButtonClicked($event)"
  >
  </app-answer-host>
</div>
