<div
  [ngClass]="{
  screenText: type === 'screenText',
  screenExercice: type === 'screenExercice',
  screenCongratulations: type === 'screenCongratulations',
  screenExample: type === 'screenExample'
}"
>
  <h2>{{title}}</h2>

  <img src="{{imgUrl}}" alt="" />

  @if (matriz) {
  <app-matriz [pixels]="matriz.pixels" [rows]="matriz.rows"></app-matriz>
  } 
  
  @if (type === 'screenExample') {
  <app-pixels-example></app-pixels-example>
  }

  <p>{{text}}</p>

  @if(qrCode){
  <app-qr-code-activity [placeHolder]="qrCode"></app-qr-code-activity>
  }

  <app-answer-host
    [answerList]="exercice?.answers"
    [correctAnswer]="exercice?.correctAnswer"
    (buttonClicked)="onButtonClicked($event)"
  >
  </app-answer-host>
</div>
