@use "../../../assets/styles/variables.scss" as *;

div {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

img {
  width: 250px;
  height: auto;
  max-width: 100%;
  border-radius: 12px;
}

h2 {
  color: $secundary-color;
  font-size: 1.8rem;
}

p {
  width: 250px;
  text-align: justify;
  color: $secundary-color;
  font-size: 1rem;
}

.screenCongratulations,
.screenExercice,
.screenExample,
.screenSave,
.screenMatrizColor,
.screenSaveColor,
.screenMatriz {
  background-color: $primary-color;
}

// desktop
@media (min-width: 1024px) {
  h2 {
    font-size: 1.8rem;
  }

  img {
    width: 400px;
    margin-left: 150px;
    margin-right: 150px;
  }

  p {
    width: 400px;
    font-size: 1.2rem;
  }
}
