@use "../../../assets/styles/variables.scss" as *;

div {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

img {
  width: 400px;
  margin-left: 150px;
  margin-right: 150px;
}

h2 {
  color: $secundary-color;
  font-size: 1.8rem;
}

p {
  width: 400px;
  text-align: justify;
  color: $secundary-color;
  font-size: 1.2rem;
}

.screenCongratulations {
  background-color: $primary-color;
}

.screenExercice {
  background-color: $primary-color;
}
