<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SOBRE</title>
</head>

<body>

  <div class="container">

    <img class="icone-voltar" src="assets/cover/fases.png" routerLink="/fases">

    <div class="content">

      <h3><strong>{{messages.about.title}}</strong></h3>

      <img class="capa" src="assets/cover/selecao-fases.png">

      <p>
        {{messages.about.paragraph1}}
      </p>

      <img class="capa" src="assets/cover/unplug pixel.png">

      <p>
        {{messages.about.paragraph2}}
      </p>

      <img class="capa" src="assets/cover/tarja pixel.png">

      <p>
        {{messages.about.paragraph3}}
      </p>

      <a href="https://bit.ly/computacaoplugada" class="botao">
        <img class="botao" src="../../../assets/cover/botao.png" alt="botao-cp">
      </a>

      <p>
        {{messages.about.paragraph4}} <a href="https://bit.ly/computacaoplugada">https://bit.ly/computacaoplugada</a>
      </p>
    </div>

  </div>
</body>

</html>