<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SOBRE</title>
</head>

<body>

  <div class="container">

    <img class="icone-voltar" src="assets/cover/fases.png" routerLink="/fases">

    <div class="content">

      <h3><strong>SOBRE</strong></h3>

      <img class="capa" src="assets/cover/selecao-fases.png">

      <p>
        O Computação Plugada Pixel Web se baseia na atividade "Representação de imagens" do livro de Bell
        T.Witten, I. e Follows, M. (2011), "Computer Science Unplugged - Ensinando Ciência da Computação sem o uso do
        computador" Tradução Luciano Porto Barreto, 2011
      </p>

      <img class="capa" src="assets/cover/unplug pixel.png">

      <p>
        Este livro apresenta atividades práticas, lúdicas e acessíveis sobre diversos temas da ciência da computação.
        Sua prática é fácil não só em salas de aula mas também fora, podendo ser
        administrado por professores e compreendido pelas crianças. </p>

      <img class="capa" src="assets/cover/tarja pixel.png">

      <p>
        O Computação Plugada Pixel Web aqui apresentado busca simplificar ainda mais a aplicação das propostas sem a
        necessidade de
        produção de materiais adicionais. Ele mostra alguns temas por vezes considerados complexos de maneira simples
        para diferentes públicos.</p>

          <img class="botao" src="../../../assets/cover/botao.png" alt="botao-cp">


      <p>
        O Computação Plugada Pixel faz parte de uma família com vários outros recursos educacionais para o ensino de
        computação. Conheça mais sobre os demais visitando nosso site: <a
          href="https://bit.ly/computacaoplugada">https://bit.ly/computacaoplugada</a>
      </p>
    </div>

  </div>
</body>

</html>