<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fase 3</title>
</head>

<body>

  <div class="container">

    <img class="icone-voltar" src="assets/cover/fases.png" routerLink="/fases">

    <div>
      <a routerLink="/fases">
        <i class="bi bi-chevron-left"></i>
      </a>
    </div>

    <div class="content">

      <h3><strong>FASE 3</strong></h3>

      <img class="capa" src="assets/level3/bin-1.png">

      <p>
        Você aprendeu que podemos representar uma imagem através de pontos pretos e brancos, representados por 0 e 1
        respectivamente.
      </p>

    </div>

    <div>
      <a routerLink="/fase-3-2">
        <i class="bi bi-chevron-right"></i>
      </a>
    </div>

  </div>
</body>

</html>