<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seleção de Fase</title>
</head>

<body>

  <div class="container-tela">

    <div class="container-central">

      <h2><strong>SELEÇÃO DE FASE</strong></h2>

      <div class="container-fases">

        <button routerLink="/fase-1-1" class="botao-fase">
          <img src="assets/levels/level1.png" class="imagem-fase">
          <div class="descricao-fase">
            <h3><strong>FASE 1</strong></h3>
            <h5>Imagens e pixels</h5>
          </div>
          <span class="seta-direita"> > </span>
        </button>

        <button routerLink="/fase-2-1" class="botao-fase">
          <img src="assets/levels/level2.png" class="imagem-fase">
          <div class="descricao-fase">
            <h3><strong>FASE 2</strong></h3>
            <h5>Codificar imagens com 1 e 0</h5>
          </div>
          <span class="seta"> > </span>
        </button>

        <button routerLink="/fase-3-1" class="botao-fase">
          <img src="assets/levels/level3.png" class="imagem-fase">
          <div class="descricao-fase">
            <h3><strong>FASE 3</strong></h3>
            <h5>Imagens compactadas</h5>
          </div>
          <span class="seta"> > </span>
        </button>

        <button routerLink="/fase-4-1" class="botao-fase">
          <img src="assets/levels/level4.png" class="imagem-fase">
          <div class="descricao-fase">
            <h3><strong>FASE 4</strong></h3>
            <h5>Usando run-length coding</h5>
          </div>
          <span class="seta"> > </span>
        </button>

      </div>

      <div class="container-rodape">

        <div routerLink="/help" class="botao-rodape">
          <img src="assets/cover/ajuda.png" class="imagem-rodape">
          <h5>Ajuda</h5>
        </div>

        <div routerLink="/about" class="botao-rodape">
          <img src="assets/cover/sobre.png" class="imagem-rodape">
          <h5>Sobre</h5>
        </div>

      </div>

    </div>

  </div>

</body>

</html>