<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seleção de Fase</title>
</head>

<body>

  <div class="container-tela">

    <div class="container-central">

      <h2><strong>{{messages.levelSelection.title}}</strong></h2>

      <div class="container-fases">

        <button routerLink="/fase-1-1" class="botao-fase">
          <img src="assets/levels/level1.png" class="imagem-fase">
          <div class="descricao-fase">
            <h3><strong>{{messages.levelSelection.buttonLevel1.title}}</strong></h3>
            <h5>{{messages.levelSelection.buttonLevel1.subtitle}}</h5>
          </div>
          <span class="seta-direita"> > </span>
        </button>

        <button routerLink="/fase-2-1" class="botao-fase">
          <img src="assets/levels/level2.png" class="imagem-fase">
          <div class="descricao-fase">
            <h3><strong>{{messages.levelSelection.buttonLevel2.title}}</strong></h3>
            <h5>{{messages.levelSelection.buttonLevel2.subtitle}}</h5>
          </div>
          <span class="seta"> > </span>
        </button>

        <button routerLink="/fase-3-1" class="botao-fase">
          <img src="assets/levels/level3.png" class="imagem-fase">
          <div class="descricao-fase">
            <h3><strong>{{messages.levelSelection.buttonLevel3.title}}</strong></h3>
            <h5>{{messages.levelSelection.buttonLevel3.subtitle}}</h5>
          </div>
          <span class="seta"> > </span>
        </button>

        <button routerLink="/fase-4-1" class="botao-fase">
          <img src="assets/levels/level4.png" class="imagem-fase">
          <div class="descricao-fase">
            <h3><strong>{{messages.levelSelection.buttonLevel4.title}}</strong></h3>
            <h5>{{messages.levelSelection.buttonLevel4.subtitle}}</h5>
          </div>
          <span class="seta"> > </span>
        </button>

      </div>

      <div class="container-rodape">

        <div routerLink="/help" class="botao-rodape">
          <img src="assets/cover/ajuda.png" class="imagem-rodape">
          <h5>{{messages.levelSelection.helpButton}}</h5>
        </div>

        <div routerLink="/about" class="botao-rodape">
          <img src="assets/cover/sobre.png" class="imagem-rodape">
          <h5>{{messages.levelSelection.aboutButton}}</h5>
        </div>

      </div>

    </div>

  </div>

</body>

</html>