body {
  background-color: white;
}

h2 {
  color: #073d7c;
}

h3 {
  font-size: 100%;
  color: #073d7c;
}

h5 {
  font-size: 70%;
  color: #073d7c;
}

h6 {
  color: #07377a;
  font-size: 1.2rem;
}

span {
  font-size: 100%;
  color: #073d7c;
}

.container-tela {
  width: 100%;
  padding: 5%;
}

.container-central {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.idiomas {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}

.iconesIdiomas {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.iconeIdioma {
  width: 50px;
  /* cursor: pointer; */
}

/* Fases */

.container-fases {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 5%;
}

.botao-fase {
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5%;
  gap: 10px;
  border-radius: 8px;
  background-color: #A6F3D6;
  border-color: #A6F3D6;
  transition: transform 0.1s ease-in-out;
}

.botao-fase:hover {
  transform: scale(1.03);
}

.botao-fase:active {
  transform: scale(0.95);
}

.descricao-fase {
  width: 80%;
  text-align: left;
}

.imagem-fase {
  width: 30%;
}

/* Rodapé */

.container-rodape {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 3%;
}

.botao-rodape {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.botao-rodape:hover {
  transform: scale(1.05);
}

.botao-rodape:active {
  transform: scale(0.95);
}

.imagem-rodape {
  width: 40%;
  background-color: #A6F3D6;
  border-radius: 50%;
}

/* Escala Tablet */

@media (min-width: 768px) {
  .container-tela {
    padding: 2%;
  }

  .container-fases {
    width: 40%;
    gap: 12px;
    padding-top: 2%;
  }

  .botao-fase {
    width: 100%;
    height: 130px;
    padding: 4%;
    gap: 12px;
  }

  .descricao-fase {
    width: 85%;
    font-size: 105%;
  }

  h3 {
    font-size: 110%;
  }

  h5,
  span {
    font-size: 100%;
  }

  .imagem-fase {
    width: 28%;
  }

  .container-rodape {
    width: 40%;
    padding-top: 2%;
  }

  .botao-rodape {
    width: 40%;
  }

  .imagem-rodape {
    width: 35%;
  }
}

/* Escala Desktop */

@media (min-width: 1024px) {

  .idiomas {
    position: fixed;
    top: 0;
    right: 0;
  }

  .container-tela {
    padding: 1%;
  }

  .container-fases {
    width: 40%;
    gap: 10px;
    padding-top: 2%;
  }

  .botao-fase {
    width: 70%;
    height: 140px;
    padding: 3%;
    gap: 14px;
  }

  .descricao-fase {
    width: 85%;
    font-size: 90%;
  }

  h3 {
    font-size: 150%;
  }

  h5 {
    font-size: 105%;
  }

  span {
    font-size: 150%;
  }

  .imagem-fase {
    width: 20%;
  }

  .container-rodape {
    width: 40%;
    padding-top: 2px;
  }

  .botao-rodape {
    width: 40%;
    padding: 10px;
  }

  .imagem-rodape {
    width: 20%;
  }
}