<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seleção de fase</title>
</head>
<body>
  <div class="container">
    <div class="header"><strong>Seleção de fase</strong></div>
    <div class="content">
      <div class="level-group">
        <div class="level">
          <a routerLink="/fase-1-1">
            <img src="assets/levels/level1.png" alt="Fase 1">
            <div class="description">
              <p><strong>FASE 1</strong></p>
              <p>Imagens e pixels</p>
            </div>
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
        <div class="level">
          <a routerLink="/fase-2-1">
            <img src="assets/levels/level2.png" alt="Fase 2">
            <div class="description">
              <p><strong>FASE 2</strong></p>
              <p>Codificar imagens com 1 e 0</p>
            </div>
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
        <div class="level">
          <a routerLink="/fase-3-1">
            <img src="assets/levels/level3.png" alt="Fase 3">
            <div class="description">
              <p><strong>FASE 3</strong></p>
              <p>Imagens compactas</p>
            </div>
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
        <div class="level">
          <a routerLink="/fase-4-1">
            <img src="assets/levels/level4.png" alt="Fase 4">
            <div class="description">
              <p><strong>FASE 4</strong></p>
              <p>Usando run-length coding</p>
            </div>
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
