@use '../../../assets/styles/variables.scss' as *;

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    background-color: $primary-color;
    border-radius: 12px;
}