<div class="container-matriz">
  <div class="matriz">
    @for (linha of pixels; track $index; let indexLinha = $index) {
    <div class="linha">
      @for (pixel of linha; track $index; let indexPixel = $index) {
      <button
        class="pixel"
        [ngClass]="{
      black: pixel === 0,
      white: pixel === 1,
      red: pixel === 2,
      blue: pixel === 3,
      green: pixel === 4
    }"
        (click)="setColorPixel(indexLinha,indexPixel)"
      ></button>
      }
    </div>
    }
  </div>

  <div class="pallet-colors">
    <div class="linha">
      @for (pixel of pallet; track $index) {
      <div class="container-pixel">
        <button
          class="pixel"
          [ngClass]="{
      black: pixel === 0,
      white: pixel === 1,
      red: pixel === 2,
      blue: pixel === 3,
      green: pixel === 4
    }"
          (click)="setColor(pixel)"
        ></button>
        <p>{{pixel}}</p>
      </div>

      }
    </div>
  </div>

  <button class="save-matriz" (click)="onButtonClicked()">Concluir</button>
</div>
