@use "../../../assets/styles/variables.scss" as *;

div {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: $white;

  mat-icon {
    font-size: 80px;
    width: 80px;
    height: 80px;
    color: $secundary-color;
  }
}

.screenCongratulations {
  background-color: $primary-color;
}

.screenExercice {
  background-color: $primary-color;
}
