@if (currentCard?.type != 'screenCongratulations') {

<div
  [ngClass]="{
  screenText: currentCard?.type === 'screenText',
  screenExercice: currentCard?.type === 'screenExercice',
  screenCongratulations: currentCard?.type === 'screenCongratulations',
  screenExample: currentCard?.type === 'screenExample',
  screenSaveMatriz: currentCard?.type === 'screenSaveMatriz',
  screenPaintColorExercice: currentCard?.type === 'screenPaintColorExercice',
  screenSaveMatrizColor: currentCard?.type === 'screenSaveMatrizColor',
  screenPaintExercice: currentCard?.type === 'screenPaintExercice',
  screenMatrizExercice: currentCard?.type === 'screenMatrizExercice'
  
}"
>
  @if (currentCard?.type === 'screenText') {
  <app-exit-button></app-exit-button>
  }@else{
  <app-exit-button-blue></app-exit-button-blue>
  }

  <button
    data-cy="btn-prev"
    [ngClass]="{
  screenText: currentCard?.type === 'screenText',
  screenExercice: currentCard?.type === 'screenExercice',
  screenCongratulations: currentCard?.type === 'screenCongratulations',
  screenExample: currentCard?.type === 'screenExample',
  screenSaveMatriz: currentCard?.type === 'screenSaveMatriz',
  screenPaintColorExercice: currentCard?.type === 'screenPaintColorExercice',
  screenSaveMatrizColor: currentCard?.type === 'screenSaveMatrizColor',
  screenPaintExercice: currentCard?.type === 'screenPaintExercice',
  screenMatrizExercice: currentCard?.type === 'screenMatrizExercice'

}"
    (click)="prevCard()"
  >
    <p class="seta"><</p>
  </button>

  <app-card
    [type]="currentCard?.type"
    [title]="currentCard?.title"
    [imgUrl]="currentCard?.imgUrl"
    [text]="currentCard?.text"
    [exercice]="currentCard?.exercice"
    [qrCode]="currentCard?.qrCode"
    [matriz]="currentMatriz"
    (buttonClickedCard)="verifyAnswer($event)"
  >
  </app-card>

  <button
    data-cy="btn-next"
    [ngClass]="{
  screenText: currentCard?.type === 'screenText',
  screenExercice: currentCard?.type === 'screenExercice',
  screenCongratulations: currentCard?.type === 'screenCongratulations',
  screenExample: currentCard?.type === 'screenExample',
  screenSaveMatriz: currentCard?.type === 'screenSaveMatriz',
  screenPaintColorExercice: currentCard?.type === 'screenPaintColorExercice',
  screenSaveMatrizColor: currentCard?.type === 'screenSaveMatrizColor',
  screenPaintExercice: currentCard?.type === 'screenPaintExercice',
  screenMatrizExercice: currentCard?.type === 'screenMatrizExercice'


}"
    (click)="nextCard()"
  >
    <p class="seta">></p>
  </button>
</div>

}@else {
<div class="screenCongratulations">
  <app-congratulations
    [footers]="currentCard?.footers"
    [level]="currentCard?.title"
    (isRemake)="remakeLevel($event)"
  ></app-congratulations>
</div>
}
