@if (cards[index].type != 'screenCongratulations') {

<div
  [ngClass]="{
  screenText: cards[index].type === 'screenText',
  screenExercice: cards[index].type === 'screenExercice',
  screenCongratulations: cards[index].type === 'screenCongratulations'
}"
>
  @if (cards[index].type === 'screenText') {
  <app-exit-button></app-exit-button>
  }@else{
  <app-exit-button-blue></app-exit-button-blue>
  }

  <button
    [ngClass]="{
  screenText: cards[index].type === 'screenText',
  screenExercice: cards[index].type === 'screenExercice',
  screenCongratulations: cards[index].type === 'screenCongratulations'
}"
    (click)="prevCard()"
  >
    <p class="seta"> < </p>
  </button>

  <app-card
    [type]="cards[index].type"
    [title]="cards[index].title"
    [imgUrl]="cards[index].imgUrl"
    [text]="cards[index].text"
    [exercice]="cards[index].exercice"
    [qrCode]="cards[index].qrCode"
    (buttonClickedCard)="verifyAnswer($event)"
  >
  </app-card>

  <button
    [ngClass]="{
  screenText: cards[index].type === 'screenText',
  screenExercice: cards[index].type === 'screenExercice',
  screenCongratulations: cards[index].type === 'screenCongratulations'
}"
    (click)="nextCard()"
  > <p class="seta"> > </p> </button>
</div>

}@else {
<div class="screenCongratulations">
  <app-congratulations
    [footers]="cards[index].footers"
    (isRemake)="remakeLevel($event)"
  ></app-congratulations>
</div>
}
