@use "../../../assets/styles/variables.scss" as *;

div {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 250px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  border: none;
  background-color: $white;

  mat-icon {
    font-size: 60px;
    width: 60px;
    height: 60px;
    color: $secundary-color;
  }
}

.screenCongratulations {
  background-color: $primary-color;
}

.screenExercice {
  background-color: $primary-color;
}

@media (min-width: 1024px) {
  button {
    width: 80px;
    height: 80px;
    mat-icon {
      font-size: 80px;
      width: 80px;
      height: 80px;
    }
  }
}
