@use "../../../assets/styles/variables.scss" as *;

div {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 250px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  border: none;
  background-color: $white;
  max-width: 100%;
}

.seta {
  color: $secundary-color;
  font-size: 3rem;
}

.screenCongratulations,
.screenExercice,
.screenExample,
.screenSave,
.screenMatrizColor {
  background-color: $primary-color;
}

@media (min-width: 1024px) {
  button {
    width: 80px;
    height: 80px;
  }

  .seta {
    font-size: 5rem;
  }
}
