@use "../../../assets/styles/variables.scss" as *;

.container-matriz {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.matriz {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.linha {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.pixel {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: solid;
  border-color: $secundary-color;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

p {
  margin-left: 10px;
  color: $secundary-color;
  font-size: 1rem;
}

.black {
  background-color: $black;
}

.white {
  background-color: $white;
}

@media (min-width: 1024px) {
  .pixel {
    width: 50px;
    height: 50px;
  }

  .rows{
    gap: 22px;
  }

  p {
    font-size: 1.3rem;
  }
}
