@use "../../../../assets/styles/variables.scss" as *;

div {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 5px;
  cursor: pointer;
}

img {
  width: 50px;
  background-color: $primary-color;
  border-radius: $border-circle;
}

img:hover {
  background-color: $hover-primary;
}

h3 {
  color: $secundary-color;
}

.level {
  background-color: $secundary-color;
  padding: 10px;
}

.level:hover {
  background-color: $hover-secundary;
}
