<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fase 1</title>
</head>
<body>
<div class="container">
  <div><a routerLink="/fases"><i class="bi bi-chevron-left"></i></a></div>
  <div class="content">
    <h3><strong>FASE 1</strong></h3>
    <img src="assets/level1/bin-6.png" alt="1 em binário">
    <p>
        Uma máquina de fax é basicamente um
        computador simples que efetua uma
        varredura sobre uma folha e identifica os
        pontos brancos ou não e armazena essa
        informação em aproximadamente 1000
        x 2000 pixels, que são transmitidos para
        outra máquina de fax ultilizando a rede de 
        telefonia.
    </p>
  </div>
  <div><a routerLink="/fase-1-2"><i class="bi bi-chevron-right"></i></a></div>
</div>
</body>
</html>
