body {
  background-color: #a6f3d6;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.idiomas {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}

.iconesIdiomas {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.iconeIdioma {
  width: 50px;
  cursor: pointer;
}

.content {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.capa {
  margin-top: 3rem;
  width: 80%;
}

h2 {
  color: #07377a;
  padding: 0.5rem;
  font-weight: 700;
  margin: 1rem 0 0 0;
  font-size: 1.6rem;
  text-align: center;
}

h3 {
  color: #07377a;
  font-size: 1.4rem;
  margin: 0 0 2rem 0;
}

h6 {
  color: #07377a;
  font-size: 1.2rem;
}

.btn {
  width: 350px;
  height: 50px;
  background-color: #07377a;
  margin: 1rem 0;
  box-shadow: 0 8px 5px #508ea4;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
}

@media(min-width: 1024px) {

  .idiomas {
    position: fixed;
    right: 0;
    top: 0;
  }

  .capa {
    margin-top: 4rem;
    width: 35%;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .btn {
    width: 300px;
    font-size: 1.2rem;
  }
}