<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Computação Plugada WEB</title>
</head>

<body>

  <div class="container">

    <div class="idiomas">
      <h6>{{messages.homeScreen.selectLanguage}}</h6>
      <div class="iconesIdiomas">
        <img class="iconeIdioma" src="assets/languages/pt-br.png" alt="iconeBrasil" (click)="trocarIdiomaPortugues()" />
        <img class="iconeIdioma" src="assets/languages/en.png" alt="iconeEua" (click)="trocarIdiomaIngles()" />
      </div>
    </div>

    <div class="content">
      <img class="capa" src="assets/cover/capa.png" alt="Cover" />
      <h2>{{messages.homeScreen.title}}</h2>
      <h3>{{messages.homeScreen.subtitle}}</h3>
      <button type="button" class="btn btn-primary" routerLink="/email-input">
        {{messages.homeScreen.startButton}}
      </button>
    </div>
  </div>
</body>

</html>