@use "../../../assets/styles/variables.scss" as *;

.container-matriz {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.matriz {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.linha {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.container-pixel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pixel {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: solid;
  border-color: $secundary-color;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: left;
}

p {
  color: $secundary-color;
  font-size: 1rem;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.save-matriz {
  width: 100px;
  height: 50px;
}

//desktop
@media (min-width: 1024px) {
  .container-matriz {
    width: 400px;
  }
  .pixel {
    width: 50px;
    height: 50px;
  }

  .rows {
    gap: 25px;
  }

  p {
    font-size: 1.3rem;
  }
}
