@use '../../../assets/styles/variables.scss' as *;

h1{
    color: $secundary-color;
    margin-bottom: 1rem;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 5px;
}