<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fase 2</title>
</head>
<body>

<app-notification #notification></app-notification>

<div class="container">

  <div>
    <a routerLink="/fase-2-3">
      <i class="bi bi-chevron-left"></i>
    </a>
  </div>

  <div class="content">
    
    <h3><strong>Fase 2</strong></h3>

    <div class="matriz">
      <div *ngFor="let row of grid; let rowIndex = index" class="grid-row">
        <div
          *ngFor="let cell of row; let cellIndex = index"
          class="cell"
          [ngClass]="{ 'black': cell, 'white': !cell }"
          (click)="toggleCell(rowIndex, cellIndex)"
        ></div>
        <span class="word">{{ rowWords[rowIndex] }}</span>
      </div>
    </div>

    <p>
      Agora vamos praticar? Pinte os quadrados
      correspondentes aos códigos binários
      indicados e escolha a letra que será
      exibida.
    </p>

    <div class="answer-table">
      <button 
        *ngFor="let answer of answers; let btnIndex = index" 
        [ngClass]="buttonClasses[btnIndex + 1]"
        (click)="changeAnswers(answer, btnIndex + 1)">
        {{ answer }}
      </button>
    </div>

  </div>

  <div>
    <a routerLink="/fase-2-4">
      <i class="bi bi-chevron-right"></i>
    </a>
  </div>

</div>
</body>
</html>