@use "../../../assets/styles/variables.scss" as *;

h2 {
  color: $secundary-color;
  font-size: 1.8rem;
}

.congratulations-container {
  background-color: $primary-color;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.congratulations-img {
  margin-top: 30px;
  width: 200px;
}

.stars-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.star-img {
  width: 30px;
}

h3 {
  color: $secundary-color;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  text-align: center;
  color: $secundary-color;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  width: 300px;
  margin-bottom: 10px;
}

.form{
  text-align: justify;
}

/* desktop */

@media (min-width: 1024px) {
  .congratulations-img {
    width: 400px;
  }
  .star-img {
    width: 50px;
  }
  p {
    font-size: 1.2rem;
    width: 600px;
  }
}
