<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fase 1</title>
</head>

<body>

  <div class="container">


    <div class="content">

      <h3><strong>FASE 1</strong></h3>

      <img class="image" src="assets/win/win-level.png">

      <h3><strong>PARABÉNS</strong></h3>

      <div class="stars-container">

        <!--  (acertos) -->
        <div *ngFor="let acerto of getArray(estrelasAmarelas)" class="star">
          <img src="assets/win/estrela.png" alt="Estrela Amarela" class="imagem-estrela">
        </div>
      
        <!--  (erros) -->
        <div *ngFor="let erro of getArray(estrelasBrancas)" class="star">
          <img src="assets/win/estrela-branca.png" alt="Estrela Branca" class="imagem-estrela">
        </div>
      </div>

      <div class="mensagem-final">
        <p>
           {{mensagemFinal}} 
        </p>

      </div>


    </div>

    <div class="rodape">
      
      <div class="botao-rodape" routerLink="/fase-1-1">
        <div class="icone-botao">
          <img class="icone" src="assets/cover/reiniciar.png">
        </div>
        <p class="text-botao"> Refazer </p>
      </div>

      <div class="botao-rodape" routerLink="/fases">
        <div class="icone-botao">
          <img class="icone" src="assets/cover/home.png">
        </div>
        <p class="text-botao"> Home </p>
      </div>

      <div class="botao-rodape" routerLink="/fase-2-1">
        <div class="icone-botao">
          <img class="icone" src="assets/cover/proximo.png">
        </div>
        <p class="text-botao"> Continuar </p>
      </div>
    </div>


  </div>
</body>

</html>