@use "../../../assets/styles/variables.scss" as *;

.container-matriz {
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.matriz {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.linha {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.pixel {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: solid;
  border-color: $secundary-color;
}

.container-pixel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

p {
  color: $secundary-color;
  font-size: 1rem;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

//desktop
@media (min-width: 1024px) {
  .container-matriz {
    width: 400px;
  }
  .pixel {
    width: 50px;
    height: 50px;
  }

  .matriz {
    margin-top: 5rem;
  }

  p {
    font-size: 1.3rem;
  }
}
