<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fase 4</title>
</head>
<body>
<div class="container">
  <div><a routerLink="/fase-4-7"><i class="bi bi-chevron-left"></i></a></div>
  <div class="content">
    <h3><strong>FASE 4</strong></h3>
    <img src="assets/level4/bin-5.png" alt="Capa fase 4">
    <p>
      Fotos e imagens sãro frequentimente
      comprimidas para um décimo ou até
      um centésimo de seu tamanho(usando
      uma técnica diferente). Isto permite que
      um número maior de imagens sejam 
      armazenadas nos dispositivos e que 
      possam ser baixadas mais rapidamente da
      internet.
    </p>
  </div>
  <div><a routerLink="/fase-4-8"><i class="bi bi-chevron-right"></i></a></div>
</div>
</body>
</html>
