<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fase 1</title>
</head>

<body>

  <div class="container">

    <img class="icone-voltar" src="assets/cover/fases.png" routerLink="/fases">

    <div>
      <a routerLink="/fase-1-6">
        <i class="bi bi-chevron-left"></i>
      </a>
    </div>

    <div class="content">

      <h3><strong>FASE 1</strong></h3>

      <img class="capa" src="assets/level1/bin-5.png">

      <p>
        Você já viu um aparelho de fac-símile
        (fax)? Esse aparelho era muito ultilizado
        antigamente para o envio de documentos
        em preto e branco.
      </p>

    </div>

    <div>
      <a routerLink="/fase-1-8">
        <i class="bi bi-chevron-right"></i>
      </a>
    </div>

  </div>
</body>

</html>