<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Computação Plugada WEB</title>
</head>
<body>
  <div class="container">
    <div class="content">
      <h2>{{messages.userIdentification.title}}</h2>
      <form (ngSubmit)="submitUserID()">
        <input type="userID" id="userID" name="userID" [(ngModel)]="userID" required> 
        <br>
        <br>
        <button type="submit">{{messages.userIdentification.submitButton}}</button>
      </form>
      <br>
      <a (click)="submitUserAnonymous()">{{messages.userIdentification.anonymousButton}}</a>
      <br>
      <span *ngIf="!userID && submitted" class="error-message">{{messages.userIdentification.exception}}</span>
    </div>
  </div>
</body>
</html>
