// colors
$primary-color: #a6f3d6;
$secundary-color: #07377a;
$button-correct: #28a745;
$button-incorrect: #dc3545;
$black: black;
$white: white;

// hover
$hover-correct: #218838;
$hover-incorrect: #c82333;
$hover-button: #052d5a;
$hover-primary: #88daba;
$hover-secundary: #053469;