// colors
$primary-color: #a6f3d6;
$secundary-color: #07377a;
$button-correct: #28a745;
$button-incorrect: #dc3545;
$black: #000000;
$white: #ffffff;

// hover
$hover-correct: #218838;
$hover-incorrect: #c82333;
$hover-button: #052d5a;
$hover-primary: #88daba;
$hover-secundary: #053469;

// border-radius

$border-circle: 50%;
$border-high: 25px;
$border-medium: 10px;
$border-low: 5px;