@use '../../../../assets/styles/variables.scss' as *;

button {
    background-color: $secundary-color;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 10px;
    top: 10px;
}

button:hover{
    background-color: $hover-secundary;
}

img {
    width: 50px;
    padding: 10px;
}

// desktop
@media(min-width: 1024px) {

    img {
        width: 80px;
    }

}