@use '../../../../assets/styles/variables.scss' as *;

button {
    width: 50px;
    height: 50px;
    max-width: 100%;
    background-color: $secundary-color;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 10px;
}

button:hover{
    background-color: $hover-secundary;
}

img {
    width: 50px;
    height: auto;
    max-width: 100%;
    padding: 10px;
}

// desktop
@media(min-width: 1024px) {

    button{
        width: 90px;
        height: 90px;
    }

    img {
        width: 80px;
    }

}