@use "../../../assets/styles/variables.scss" as *;

.container-qrcode {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.input-qrcode {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  width: 150px;
  height: 25px;
  color: $secundary-color;
  font-size: 0.8rem;
}

label {
  margin-right: 4px;
  font-size: 0.9rem;
  color: $secundary-color;
}

.qr-code {
  align-items: center;
}

@media (min-width: 1024px) {
  input {
    font-size: 1rem;
    width: 200px;
    height: 40px;
  }
  label {
    font-size: 1.2rem;
    margin-right: 8px;
  }
}
