@use "../../../assets/styles/variables.scss" as *;

.container-qrcode {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.input-qrcode {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input{
  width: 200px;
  height: 40px;
  color: $secundary-color;
  font-size: 1rem;
}

label {
  margin-right: 8px;
  font-size: 1.2rem;
  color: $secundary-color;
}

.qr-code {
  align-items: center;
}
